<div [class.dark-theme]="isDarkTheme" class="flex-container" fxLayout="column" fxLayoutAlign="center stretch">
  <!-- toolbar -->
  <md-toolbar color="primary" class="md-elevation-z6">
    <span>
      <md-icon class="md-icon-20">favorite</md-icon>
      <span>Derek Zoolander Center For Models Who Can't Find Love</span>
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <!-- menu -->
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="openDialog()">Settings</button>
    <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle Theme</button>
    <button md-menu-item>Help</button>
  </md-menu>
  
  <div class="app-sidenav" fxFlex>
  <md-sidenav-container>
    <!-- sidenav -->
    <md-sidenav align="end" mode="side" #sidenav class="md-elevation-z3">
      <md-tab-group>
        <md-tab label="About Me">
          <div class="flex-container" fxLayout="column" fxLayoutAlign="center center">
            <md-card>
              <md-card-title>Status</md-card-title>
              <md-card-content>
                <p>{{selectedModel.status}}</p>
              </md-card-content>
            </md-card>
            <md-card>
              <md-card-title>About</md-card-title>
              <md-card-content>
                <p>{{selectedModel.about}}</p>
              </md-card-content>
            </md-card>
          </div>
          <div class="tab-action">
            <button md-fab (click)="sidenav.close()" color="warning">
              <md-icon>close</md-icon>
            </button>
          </div>
        </md-tab>
        <md-tab label="Messages">
          <div class="flex-container" fxLayout="column" fxLayoutAlign="center center">
            <md-card *ngFor="let message of selectedModel.messages">
              <md-card-subtitle>{{message.who}} says:</md-card-subtitle>
              <md-card-content>{{message.message}}</md-card-content>
            </md-card>
          </div>

          <div class="tab-action">
            <div class="flex-container" fxLayout="column" fxLayoutAlign="space-between center">
              <button md-mini-fab (click)="sidenav.close()" color="warning">
                <md-icon>close</md-icon>
              </button>
              <button md-fab (click)="addMessage()" color="primary">
                <md-icon>add</md-icon>
              </button>
            </div>
          </div>
        </md-tab>
        <md-tab label="Photos">
          some photos here...
        </md-tab>
      </md-tab-group>
    </md-sidenav>

    <!-- main content -->
    <md-grid-list cols="4" rowHeight="200px">
      <md-grid-tile *ngFor="let model of models" [rowspan]="model.rows" [colspan]="model.cols">
        <img src="assets/{{model.name}}.png" alt="photo of the super model {{model.name}}">
        <md-grid-tile-footer>
          <h3 md-line>{{model.name}}</h3>
          <span md-line>{{model.status}}</span>
          <button md-icon-button (click)="showModelDetails(model)">
            <md-icon>info</md-icon>
          </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-sidenav-container>
  </div>

</div>
