

/*
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
*/


// import all mixins and utils to create a theme
@import '~@angular/material/theming';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// theme colors
// @function mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-pink);
$warn: mat-palette($mat-amber);

// create theme from palettes
$theme: mat-light-theme($primary, $accent, $warn);
// apply theme
@include angular-material-theme($theme);


.dark-theme{
  // theme colors
  // @function mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
  $primary-dark: mat-palette($mat-pink, 700);
  $accent-dark: mat-palette($mat-green);
  $warn-dark: mat-palette($mat-red);

  $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

  // create theme from palettes
  @include angular-material-theme($theme-dark);
}

