/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// some basic resets
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.app{
    height: 100vh;    // emmet h100vh
}

md-toolbar {
  z-index: 10;     // emmet z10
}

md-toolbar-row{
    justify-content: space-between;
}


md-sidenav {
    width: 40vw;   // emmet w40vw
}

md-card {
  margin: 12px;
}

$md-toolbar-height: 64px;
$md-tab-header-height: 48px;
.mat-tab-body-content{
    height: calc(100vh - #{$md-tab-header-height} - #{$md-toolbar-height});
}

.tab-action{
  //display: inline-block;
  //position: fixed;
  bottom: 20px;
  right: 20px;

  button{
      margin-bottom: 12px;
  }
}




